<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <% if @user.image.present? %>
    <img src= <%= @user.image.image.url %>
  <% else %>
    이미지 없음
  <% end %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @user.gender %>
</p>

<%= link_to '수정하기', edit_user_path(@user), class: "btn btn-warning" %> |
<%= link_to '목록보기', users_path, class: "btn btn-primary" %>
