<div class="row">
  <div class="col-md-12">
    <h2>대시보드</h2>   
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        카운트 컨테이너
      </div>
      <div class="panel-body">
      	<div class="col-md-3 col-sm-12 col-xs-12">
      	  <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-red set-icon">
            </span>
            <div class="text-box">
              <p class="main-text"><%= @user_size %> 명</p>
              <p class="text-muted">사용자</p>
            </div>
          </div>
		    </div>
		    <div class="col-md-3 col-sm-12 col-xs-12">
      	  <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-green set-icon">
          
            </span>
            <div class="text-box">
              <p class="main-text"><%= @store_size %> 개</p>
              <p class="text-muted">매장</p>
            </div>
          </div>
		    </div>
		    <div class="col-md-3 col-sm-12 col-xs-12">
      	  <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-blue set-icon">
            </span>
            <div class="text-box">
              <p class="main-text"><%= @store_owner_size %> 명</p>
              <p class="text-muted">매장주</p>
            </div>
          </div>
		    </div>
		    <div class="col-md-3 col-sm-12 col-xs-12">
      	  <div class="panel panel-back noti-box">
            <span class="icon-box bg-color-brown set-icon">
            </span>
            <div class="text-box">
              <p class="main-text"><%= @review_size %> 개</p>
              <p class="text-muted">리뷰</p>
            </div>
          </div>
		    </div>
      </div>
    </div>
  </div>
</div>        

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        표 & 차트 컨테이너
      </div>
      <div class="panel-body">
        <div class="col-md-6 col-sm-12 col-xs-12">                     
          <div class="panel panel-default">
            <div class="panel-heading">
              [표] 리뷰가 가장 많이 달린 매장 순위
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                        <th>순위</th>
                        <th>매장 이름</th>
                        <th>매장주 이름</th>
                        <th>리뷰 갯수</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @top_8_stores.each_with_index do |store, index| %>
                    <tr class="<%= cycle('success', 'info', 'warning', 'danger') -%>">
                      <td><%= index + 1 %></td>
                      <td><%= store.name %></td>
                      <td><%= store.store_owner.name %></td>
                      <td><%= store.reviews_count %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div> 
        </div> 
        <div class="col-md-6 col-sm-12 col-xs-12">                     
          <div class="panel panel-default">
            <div class="panel-heading">
              [차트] 음식 카테고리별 식당 점유율
            </div>
            <div class="panel-body">
              <div id="category-donut-chart"></div>
            </div>
          </div> 
        </div> 
      </div>  
    </div>
  </div>
</div>  

<%= javascript_tag do %>
  Morris.Donut({
      element: 'category-donut-chart',
      data: [
        <% for i in 1..@stores_by_category.size%>
        {
          label: "<%= @common_code.find_by_category(i).first.name_kor %>",
          value: <%= @stores_by_category[i] %>
        },
        <% end %>
      ],

      resize: true
  });
<% end %>


