<div class="row">
  <div class="col-md-12">
    <h2>매장주 목록</h2>   
    <h4>총 <%= @store_owners.size %> 명의 매장주가 검색되었습니다.</h4>
  </div>
</div>
<!-- /. ROW  -->
<hr />
           
<div class="row">
  <div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
      <div class="panel-heading">
        매장주 목록 표
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>휴대폰번호</th>
                <th>보유 매장 수</th>
                <th>상세보기</th>
                <th>수정하기</th>
                <th>삭제하기</th>
              </tr>
            </thead>
            <tbody>
              <% @store_owners.each do |store_owner| %>
              <tr class="<%= cycle('even', 'odd') -%>">
                <td><%= store_owner.store_owner_id %></td>
                <td><%= store_owner.name %></td>
                <td><%= store_owner.email %></td>
                <td><%= store_owner.phone %></td>
                <td><%= store_owner.stores.size %></td>
                <td align="center"><%= link_to '상세', store_owner, class: "btn btn-primary" %></td>
                <td align="center"><%= link_to '수정', edit_store_owner_path(store_owner), class: "btn btn-warning" %></td>
                <td align="center"><%= link_to '삭제', store_owner, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>       
      </div>
    </div>
    <!--End Advanced Tables -->
  </div>
</div>              
<%= link_to '매장주 추가하기', new_store_owner_path, class: "btn btn-primary" %>
<%= javascript_tag do %>
  $('#dataTables-example').dataTable();
<% end %>