<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @store_owner.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @store_owner.password %>
</p>

<p>
  <strong>Name:</strong>
  <%= @store_owner.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @store_owner.phone %>
</p>

<%= link_to 'Edit', edit_store_owner_path(@store_owner) %> |
<%= link_to 'Back', store_owners_path %>
