<p id="notice"><%= notice %></p>

<p>
  <% @review.images.each do |ri| %>
    <img src= <%= ri.image.url %>>
  <% end %>
</p>

<p>
  <strong>Store:</strong>
  <%= @review.store %>
</p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @review.detail %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @review.grade %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
