<div class="row">
  <div class="col-md-12">
    <h2>매장 메뉴 목록</h2>   
    <h4>총 <%= @store_menus.size %> 개의 메뉴가 검색되었습니다.</h4>
  </div>
</div>
<!-- /. ROW  -->
<hr />
           
<div class="row">
  <div class="col-md-12">
    <!-- Advanced Tables -->
    <div class="panel panel-default">
      <div class="panel-heading">
        매장 메뉴 목록 표
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>메뉴 이미지</th>
                <th>아이디</th>
                <th>매장 이름(아이디)</th>
                <th>상세보기</th>
                <th>수정하기</th>
                <th>삭제하기</th>
              </tr>
            </thead>
            <tbody>
              <% @store_menus.each do |store_menu| %>
              <tr class="<%= cycle('even', 'odd') -%>">
                <td align="center">
                  <img src= <%= store_menu.image.image.url %> width="100" height="100">
                </td>
                <td><%= store_menu.store_menu_id %></td>
                <td><%= store_menu.store.name %>(<%= store_menu.store_id %>)</td>
                <td align="center"><%= link_to '상세', store_menu, class: "btn btn-primary" %></td>
                <td align="center"><%= link_to '수정', edit_store_menu_path(store_menu), class: "btn btn-warning" %></td>
                <td align="center"><%= link_to '삭제', store_menu, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>       
      </div>
    </div>
    <!--End Advanced Tables -->
  </div>
</div>              
<%= link_to '매장 메뉴 추가하기', new_store_menu_path, class: "btn btn-primary" %>
<%= javascript_tag do %>
  $('#dataTables-example').dataTable();
<% end %>
