<p id="notice"><%= notice %></p>

<p>
  <% if @store_menu.image.present? %>
    <img src= <%= @store_menu.image.image.url %>
  <% else %>
    이미지 없음
  <% end %>
</p>

<p>
  <strong>Store:</strong>
  <%= @store_menu.store %>
</p>

<%= link_to 'Edit', edit_store_menu_path(@store_menu) %> |
<%= link_to 'Back', store_menus_path %>
